[audio]
bgm=bgm/bgm.bcstm
sfx.launch=sfx/launch.bcwav

[colors]
arrowbuttoncolor.dark=0x222233
arrowbuttoncolor.light=0x222233
arrowbuttoncolor.main=0x222233
arrowbuttoncolor.shadow=0xff00000
arrowcolor.border=0x222233
arrowcolor.pressed=0xcccccc
arrowcolor.unpressed=0xffffff
bottomcornerbuttoncolor.dark=0x222233
bottomcornerbuttoncolor.iconlight=0xffffff
bottomcornerbuttoncolor.iconmain=0xffffff
bottomcornerbuttoncolor.icontextmain=0xffffff
bottomcornerbuttoncolor.light=0x222233
bottomcornerbuttoncolor.main=0x222233
bottomcornerbuttoncolor.shadow=0xffffff
close.dark=0x222233
close.glow=0x000000
close.light=0x222233
close.main=0x222233
close.shadow=0xff00000
close.textmain=0xffffff
close.textselected=0xcccccc
close.textshadow=0xffffff
close.textshadowpos=0
cursorcolor.dark=0xfe53e1
cursorcolor.glow=0xfe53e1
cursorcolor.light=0xfe53e1
cursorcolor.main=0xfe53e1
demotextcolor.main=0x222233
demotextcolor.textmain=0xffffff
filecolor.dark=0x222233
filecolor.light=0x222233
filecolor.main=0x222233
filecolor.shadow=0xff00000
folderarrowcolor.dark=0x222233
folderarrowcolor.glow=0x000000
folderarrowcolor.light=0x222233
folderarrowcolor.main=0x222233
folderarrowcolor.shadow=0xff00000
folderarrowcolor.textmain=0xffffff
folderarrowcolor.textselected=0xcccccc
folderarrowcolor.textshadow=0xffffff
folderarrowcolor.textshadowpos=0
folderbgcolor.dark=0x000000
folderbgcolor.light=0x222233
folderbgcolor.main=0x222233
folderbgcolor.shadow=0x222233ff
foldercolor.dark=0x222233
foldercolor.light=0x222233
foldercolor.main=0x222233
foldercolor.shadow=0x000000
gametext.light=0x000000
gametext.main=0x222233
gametext.shadow=0xff00000
gametext.textmain=0xffffff
open.dark=0x222233
open.glow=0x000000
open.light=0x222233
open.main=0x222233
open.shadow=0xff00000
open.textmain=0xffffff
open.textselected=0xcccccc
open.textshadow=0xffffff
open.textshadowpos=0
topcornerbuttoncolor.light=0x000000
topcornerbuttoncolor.main=0x222233
topcornerbuttoncolor.shadow=0x222233
topcornerbuttoncolor.textmain=0xffffff

[frames]
bottom.frame=single
bottom.type=texture
top.frame=single
top.type=texture

[info]
icon=icon.png
longtitle=koyu.space
publisher=koyu.space
shorttitle=koyu.space
smallicon=icon-small.png

[kame-editor]
deploy=theme.zip

[textures]
bottom.image=bottom.png
filelarge.image=large-icon.png
filesmall.image=small-icon.png
folderclose.image=folder-close.png
folderopen.image=folder-open.png
top.image=top.png
